<% include header %>

<section class="main">
    <div class="container grid-custom">
        <center>
            <div class="fotorama greater"
                 data-nav="thumbs" 
                 data-loop="true" 
                 data-keyboard="true" 
                 data-thumbwidth="125"
                 data-thumbheight="125"
                 data-allowfullscreen="true"
                 data-height="375">
                <img src="/images/1.jpg" data-fit="cover" data-caption="One">
                <img src="/images/2.jpg" data-fit="cover">
                <img src="/images/3.jpg" data-fit="cover">
                <img src="/images/4.jpg" data-fit="cover">
            </div>
        </center>
        
        <hr>

        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h2>Sobre Junart</h2>
                <p>Here is where you will introduce visitors to the business. Make sure to use clear and informative sentences. Use appropriate keywords here to make sure search engines can find the business.</p>
                <p>When using this template, two decisions will be open to visitors. Decision one will be to use above-the-fold information to interact with the page. Decision two will be to scroll down and see the additional marketing boxes. Either way, the user will get the information they need!</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <h2>Contato</h2>
                <address>
                    <strong>Junart</strong>
                </address>
                <address>
                    <abbr title="Phone">Telefone:</abbr> (31) 3451-6217
                    <br>
                    <abbr title="Email">E-mail:</abbr> <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
        </div>

        <hr>
    </div>
    
    <div class="footer-push"></div>
</section>

<% include footer %>
